/* Write your CSS here */

.button {
  background-color: #382f5a;
  border-color: white;
  border-radius: 2px;
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  color: white;
  border-style: solid;
  height: 30px;
  font-size: 18px;
  margin: 6px;
  align-items: center;
}
